* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
}


.mainDiv {
    display: flex;
    justify-content: center;
    top: 90px;
}

body {
    background: rgb(223, 223, 223);
}