.mainCard {
    padding: 20px;
    width: 250px;
    background: white;
    border-radius: 7px;
    background-color: white;
    margin: 0 20px;
}

.cardInfo {
    justify-content: space-between;
    font-size: 1rem;
}

.cardValue {
    padding-top: 10px;
    display: flex;
    font-weight: bold;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
}