@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: 'Oleo Script Swash Caps', cursive;
}

body {
	background: rgb(202, 202, 202);
}