.desc {
    padding-left: 10px;
}

td {
  padding-top: 15px;
  text-align: start;
  word-break: break-all;
  font-size: 1rem;
}

.alin {
    text-align: center !important;
}

.value {
    padding-left: 1rem;
}

.delete {
    text-align: center;
    font-size: 1.2rem;
}

.buttonGreen {
    color: green;
}

.buttonRed {
    color: red;
}